extends layout

block content
  h1 File Meta Data
  .form
    form(method='POST' action='/process' enctype="multipart/form-data")
      input(type='file' name='fileUpload')
      button(type='submit') Submit